

@keyframes slideUp {
    0% {
       transform: translateY(0vw);
   }
    100% {
       transform: translateY(-100vw);
   }
}

.hasFade{
    visibility: hidden;
}

@keyframes fadeIn{
    from{
        visibility: hidden;
        opacity: 0;
    }

    10%{
        visibility: visible;
        opacity: 0;
    }

    to{
        visibility: visible;
        opacity: 1;
    }
}

.fadeIn{
    animation: fadeIn 400ms ease-in-out forwards;
}

@keyframes fadeOut{
    from{
        visibility: visible;
        opacity: 1;
    }

    90%{
        visibility: visible;
        opacity: 0;
    }
    to{
        visibility: hidden;
        opacity: 0;
    }
}

.fadeOut{
    animation: fadeOut 400ms ease-in-out forwards;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-5vw);
    }

    25% {
        opacity: 1;
        transform: translateX(-3vw);
    }

    75% {
        opacity: 1;
        transform: translateX(3vw);
    }

    100% {
        opacity: 0;
        transform: translateX(5vw);
    }
}

.slide{
    display: inline-block;
    position: absolute;
    animation: slide 2s linear infinite;
    transform: translateY(-5vh);
    opacity: 0;
}


.delay1 {
    animation-delay: 400ms;
}

.delay2 {
    animation-delay: 800ms;
}

.delay3 {
    animation-delay: 1000ms;
}

@keyframes fade-in-custom{0%{opacity:0}100%{opacity:1}}
.fade-in-custom {
	animation: fade-in-custom 1s ease-in-out both;
}

@keyframes spin{
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes fall{
    0% { transform: rotateZ(-15deg) rotateX(55deg); top:0vh; right: 0vw; }
    5%{opacity: 1;}
	30% { transform: rotateZ(200deg) rotateX(60deg); right: 20vw;  }
	60% { transform: rotateZ(-200deg) rotateX(50deg); right: 0vw;   }
    95%{opacity: 1;}
	100% {transform: rotateZ(-15deg) rotateX(55deg); top:100vh; right: -20vw; }
}

.animate-fall-leaves img{
    width: 3vw;
    animation: fall 10s;
    animation-timing-function: cubic-bezier(.25,.2,.69,.33);
    animation-iteration-count: infinite;
    position: relative;
    opacity:0;
}