.form{
    &-title,
    &-subtitle{    
        color: white;
    }
    &-title{
        font-size: $font-l;
    }
    &-subtitle{        
        font-size: $font-ms;
        margin-bottom: 30px;
    }

    &-grup{
        margin: 0;
        padding: 0;
    }
}

input[type=text],
input[type=text2] {
    @extend .input-area;
    width: 99%;
    
}

.button-submit {
    @extend .button;
    background-color: $mainColor_1;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    padding: 5px 50px;
    font-size: $font-ms
}

.form-rsvp form div div select {
    @extend .input-area;

}

textarea {
    @extend .input-area;
    width: 99%;
    box-sizing: border-box;
}

.wishlist{
    font-size: $font-ms;
    background: $mainColor_3;
    margin:  10px auto;
    margin-top: 40px;
    width: 98%;
    padding: 15px 30px;
    text-align: left;
    box-sizing: border-box;
    color: #6d6d6dd3 ;
    height: 25rem;
    overflow-y: scroll;

    .f{
        margin-bottom: 5px;
    }
    h6{
        font-size: $font-ms;
    }
}

@include breakpoint-down(large){
    .form{
        &-title{
            font-size: $font-m;
        }

        &-subtitle{
            font-size: $font-xs;
        }

    }

    .button-submit{
        margin-top: 10px;
        padding: 5px 25px;
        font-size: $font-xs;
    }

    .wishlist{
        font-size: $font-s;
        height: 20rem;
        padding: 15px 10px;

        h6{
            font-size: $font-xs;
        }
    }
}