html {
    font-size: 100%;
    box-sizing: border-box !important;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    transition: all ease-in-out
}

body {
    color: $mainColor_2;
    margin: 0;
    padding: 0;
    font-family: "Minions" !important;
    line-height: 1.3;
}

a,
a:visited,
a:hover {
    text-decoration: none !important;
}

section{
    z-index: 3;
    height: 100vh;
    overflow: hidden;
}


.container-app {
    display: flex;
    flex-flow: column wrap;
    width: auto;
    height: 100%;
    text-align: center;
    padding: 1rem 0px;

}

.c-jc-se{
    align-items: center;
    justify-content: space-evenly;
}

.c-jc-sb{
    align-items: center;
    justify-content: space-between;
}

.c-jc-sa{
    align-items: center;
    justify-content: space-around;
}

.c-jc-c{
    align-items: center;
    justify-content: center;
}

.bg-center{
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.font-photo{
    font-family: "Grayscale";
}

.img-center-absolute{
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 100%;
    width: 100%;
}

.button{
    display: inline-flex;
    font-size: $font-m;
    align-items: center;
    justify-items: center;
    justify-content: center;
    @extend .bg-center;
    background-size: auto 100% ;
    margin: 0px 50px;
    color: #ffffff;
    text-decoration:none;
    min-height: 60px;

    p{
        display: inline-block;
        margin: auto 0px;
    }
    img{
        display: inline-block;
        height: 40px;
        margin-left: 20px;
    }
    cursor:pointer;
    box-shadow: $boxShadow;

}

.input-area{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: $mainColor_3;
    color: #6d6d6dd3 ;
    font-size: $font-ms !important;
    border-radius: 0px !important;
    &::placeholder{
        color: #6d6d6dd3 ;
    }
}

.slick-{
    &arrow{
        height: 70%;
        width: 100px;
        
        &::before{
            content: " "; 
            background-size: 40%;
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            width: 100px;
            height: 100%;
        }
    }

    &next{
        right: -40px;
        &::before{
            // background-image: url("/app/assets/img/icons/global/3\ Button\ Next2.png");
        }
    }
    &prev{
        left: -40px;
        &::before{
            // background-image: url("/app/assets/img/icons/global/2\ Button\ Next1.png");
        }
    }

    &-dots li button::before {
        font-size: 10px !important;
    }

    
}

.dashed-border{
    /*Horizontal*/
    background-image: linear-gradient(to right, black 50%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 3px 1px;
    background-repeat: repeat-x;

    /*Vertical*/
    background-image: linear-gradient(black 50%, rgba(255,255,255,0) 0%);
    background-position: right;
    background-size: 1px 3px;
    background-repeat: repeat-y;
}

.fixedButton {
    z-index: 4;
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    padding: 20px;
    animation:spin 20s linear infinite;
    cursor: pointer;
    img{
        height: 70px;
        box-shadow: $boxShadow;
        border-radius: 200px;
        border: 2px $mainColor_3 solid;
    }
}



.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* The Modal (background) */
.modal-img {
    z-index: 4;
    @extend .fade-in-custom;
    display: none;
    position: fixed;
    padding: 50px 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);


    .modal-container{
        @extend .container-app;
        @extend .c-jc-c;
        width: 80%;
        margin: auto;
        img{
            background-color: $mainColor_3;
            object-fit: contain;
            height: 100%;
        }
    }
  }
  
  /* Modal Content (Image) */
  

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  @include breakpoint-down(large){
    .input-area{
        font-size: $font-xs !important;
        margin: 5px 0px;
        padding: 5px 10px ;
    }

    .button{
        font-size: $font-xs;
        min-height: 40px;

        img{
            height: 30px;
            margin-left: 10px;
        }
    }

    .fixedButton {
        img{
            height: 60px;
        }
    }

  }