
.landing-page{
    z-index: 5;
    position: fixed;
    top: 0px;
    width: 100%;

    .landing{
        
        @extend .c-jc-se;
        background-image: url('/app/assets/Data Photo/CoverLanding.jpg');
        @extend .bg-center;
        background-position: center 65%;
        color: white;
        &::after{
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient($mainColor_2 10%, transparent 50%, $mainColor_2);
        }

        &-item{
            font-size: $font-m;
            z-index: 6;
            img{
                width: 25rem;
            }

            .initial{
                position: relative;
                top: -20px;
                p{
                    line-height: 0.8;
                    margin: 0px;
                    font-size: calc(#{$font-xl + 1rem});

                    &:first-child{
                        margin-right: 60px;
                    }

                    &:last-child{
                        margin-left: 60px;
                    }
                }

                span{
                    content: ' ';
                    position: absolute;
                    top: 0;
                    background-color: white;
                    border: #ffffff 2px;
                    height: 100%;
                    width: 2px;
                    transform: rotate(15deg);
                }
            }
        }

        .openInvite {
            @extend .button;
            background-image: url("/app/assets/Design\ 2_\ Eclair\ White\ \(Desktop\)_Button-02.png");
            color:#ffffff;
            background-size: auto 100%;
            padding: 0px;
            width: 400px;
            height: 75px;
            font-size: $font-m;
            letter-spacing: 0px;
            @extend .fade-in-custom;
        }
        
        .openInvite:active {
            position:relative;
            top:1px;
        }
    }
}
#covid-dis{
    z-index: 7;
    display: block;
    .modal-container{
        img{
            background-color: transparent;
        }
        
        .prokes{
            position: relative;
            width: 35%;
            display: flex;
            @extend .c-jc-c;
        }

        .prokes-btn{
            position: absolute;
            bottom: 15px;
        //     left: 0px;
        //     cursor: pointer;
        //     width: 100%;
            img{
                width: 90%;
            }

            
        }
    }
}
@include breakpoint-down(large){
    .landing-page{

        .landing{
            justify-content: space-around;
            &-item{
                width: 100%;
                font-size: $font-ms;
                font-weight: bold;
                img{
                    width: 20rem;
                }

                .initial{
                    p{
                        font-size: calc(#{$font-l + 1rem});
                    }
                    
                }

                .openInvite{
                    width: 310px;
                    height: 50px;
                    font-size: $font-ms;
                    margin: 0px;
                    p{
                        margin: 0px;
                    }
        
                }
            }
        }
    }

}

@include breakpoint-down(large){
    #covid-dis .modal-container .prokes{
            width: 100%;
    }
}