#leaf-fall-bg{
    z-index: -1;
    position: fixed;
    width: 100%;
    
    .leaf-container{
        flex-flow: row;
        display: flex;
        .animate-fall-leaves{
            z-index: 2;
            display: inline-block;
            position: relative;
            width: 100%;
        }
    }

}