#section-9{
    height: auto;
    background:$mainColor_1;
    padding: 40px 0px;
    .wishes{
        &-card{
            width: 60%;
            height: auto;
            margin: 40px auto;
            padding: 40px;
            background:$mainColor_2;

        }
    }
    .send-gift{
        @extend .button;
        height: 120px;
        padding: 0px 54px;
        letter-spacing: 10px;
        background-image: url('/app/assets/Design\ 2_\ Eclair\ White\ \(Desktop\)_Button\ brown-02.png');
    }

    .married-name{
        margin-top: 40px;
        color: $mainColor_2;
        font-weight: normal;
        font-size: calc(#{$font-l} + 2rem );
        letter-spacing: 10px;
        .font-photo{
            color: whitesmoke;
        }
        p{
            font-weight: bold;
            display: inline-block ;
        }
    }
}

#section-10{
    height: auto;
    .footer {
        margin:5rem auto;
        display: inline-flex;
        position: relative;
        
        img{
            width: 450px;
        }

        &-btn{
            position: absolute;
            right: 50px;
            top: -10px;
        }
        span{
            display: inline-block;
            box-shadow: $boxShadow;
            width: 60px;
            height: 60px;
            border-radius: 200px;            
            a{
                margin: 0px;
            }
            img {
                width: 60px;
                height: 60px;
            }
        }
    } 
}

@include breakpoint-down(large){
    #section-9{
        padding: 20px 0px;
        .wishes{
            &-card{
                width: 80%;
                margin: 0px auto;
                padding: 20px;
            }
        }

        .send-gift{
            padding: 0px 30px;
            letter-spacing: 2px;
            height: 50px;
            margin-top: 20px;
            img{
                width: 25px;
            }
        }

        .married-name{
            margin-top: 20px;
            letter-spacing: 5px;
            font-size: $font-m;
            span{
                margin: -25px;
            }
        }
    }

    #section-10{
        .footer{
            img{
                width: 300px;
            }
            &-btn{
                right: 30px;
                top: -5px;
            }

            span{
                width: 40px;
                height: 40px;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
    
}