#section-3{
    height: 30vh;
    .quotes{
        @extend .c-jc-c;
        background-color: $mainColor_1;
        font-size: $font-s;
        color: white;
        margin: auto;
        
        img{
            height: $font-m;
            margin-bottom: 10px;
        }

        .content{
            margin: auto;
            width: 80%;
        }
    }

}

#section-4{
    position: relative;
}
.profile{
    background-color: $mainColor_2;
    flex-direction: row;
    @extend .c-jc-se;
    color: white;
    font-size: $font-m;

    &-card{
        @extend .container-app;
        @extend .c-jc-se;
        height: inherit;
        max-width: 40%;
    }

    &-img{
        height: 40%;
        border-radius: 50%;
    }

    &-heart{
        top: 40%;
        right: 0%;
        @extend .img-center-absolute;
        height: auto;
        img{
            height: 80px;
        }
    }

    &-title{
        font-size: $font-l;
    }

    &-detail{
        font-size: $font-s;
        display: inherit;
        flex-direction: row;
        width: 80%;
        p{
            text-align: left;
            &:first-child{
                font-size: $font-m;
                margin-bottom: 0px;
                line-height: 1;

            }
        }

        img{
            width: 60%;
        }
        
    }
}

@include breakpoint-down(large){
    #section-3{
        height: auto;
        .quotes{
            font-size: $font-xs;
            color: white;
            
            .content{
                margin: auto;
                width: 90%;
            }

            img{
                height: $font-ms;
                margin-bottom: 10px;
            }
        }
    }

    #section-4{
        height: auto;
        .profile{
            
            &-card{
                flex-flow: row wrap;
                justify-content: center;
                height: 100%;
                max-width: 100%;
            }

            &-img{
                height: auto;
                width: 70%;
            }

            &-heart{
                position: relative;
                img{
                    height: $font-l;
                }
            }

            &-title{
                font-size: $font-m;
                font-weight: bold;
            }

            &-detail{
                margin-top: 20px ;
                font-size: $font-xs;

                a{
                    width: 25%;
                    margin-right: 15px;
                    img{
                        width: 100%;
                    }
                }

                p{
                    &:first-child{
                        font-size: calc(#{$font-m - 0.3rem});
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                }

            }
            

        }
    }
}