#section-2{
    .front{
        flex-direction: row;
        @extend .c-jc-se;
        margin: 20px;
        color: $mainColor_2;
        &-item{
            @extend .container-app;
            @extend .c-jc-c;
            height: inherit;
            width: 40%;
            margin: 0px 30px;
            letter-spacing: 5px;
            font-size: $font-ms;

            .date{
                font-weight: bold;
                margin-top: -20px
            }
            
            .save-date{
                z-index: 4;
                font-size: $font-s;
                @extend .button;
                letter-spacing: 5px;
                margin-top: 50px;
                padding: 0px 60px;
                background-image: url('/app/assets/Design\ 2_\ Eclair\ White\ \(Desktop\)_Button\ brown-02.png');
            }

            &.front-img{
                width: 40%;
                height: 90%;
                border-radius: 300px 300px 0px 0px;
                background: url("/app/assets/Data\ Photo/CoverFront.jpg");
                background-size: cover;
                background-position: center;     
                box-shadow: $boxShadow;           
            }


            .married-name{
                position: relative;
                letter-spacing: 15px;
                .font-photo{
                    top: 45%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    color: $mainColor_1;
                    font-size: $font-l;
                }

                p{
                    font-size: $font-xl;
                    line-height: 1.2;
                }
            }

        }


        &::before, &::after{
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: 100px;
            background-repeat: no-repeat;
        }

        &::before{
            background-image: url('/app/assets/Design\ 2_\ Eclair\ White_Dec\ 1.png');
            background-position: left 20px top;
        }

        &::after{
            background-image: url('/app/assets/Design\ 2_\ Eclair\ White_Dec\ 2.png');
            background-position: right 20px top;
        }
    }
}

@include breakpoint-down(large){
    #section-2{
        .front{
            margin-top: 10px !important;
            &-item{
                height: 45%;
                width: 100%;
                font-size: $font-xs;
                font-weight: bold;
                
                &.front-img{
                    width: 100%;
                    height: 55%;
                }

                .married-name{
                    .font-photo{
                        font-size: $font-m;
                    }
                    p{
                        font-size: $font-m;
                    }
                }

                .save-date{
                    font-size: $font-xs;
                    margin: 0px;
                    margin-top: 20px;
                    padding: 0px 30px;
                    height: 45px;
                    p{
                        margin: 0px;
                    }

                }
            }

            &::before, &::after{
                background-size: 4rem;
            }

        }
    }
}