    
#section-video{
    height: 70vh;       
    .wedding-video{
        @extend .c-jc-c;
        position: relative;
        z-index: 3;

            &::before{
                content: " ";
                width: 90%;
                height: 90%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                background: url('/app/assets/Design\ 2_\ Eclair\ White_Count\ Down_Top.png');
                background-size: 100%;
                background-position: top center;
                background-repeat: no-repeat;
                padding: 20px;
            }

            &::after{
                @extend .wedding-video::before;
                background: url('/app/assets/Design\ 2_\ Eclair\ White_Count\ Down_Bottom.png');
                background-position: bottom center;
                background-size: 100%;
                background-repeat: no-repeat;
            }

        .video-content{
            position: relative;
            z-index: 4;
            iframe{
                height: 50vh;
                width: 65vw;
            }
        }
        
    }
}

@include breakpoint-down(large){
    #section-video{
        height: 40vh;
        
        .wedding-video{
            &::before{
                background: url('/app/assets/Design\ 2_\ Eclair\ White_Count\ Down\ Lef.png');
                background-size: auto 100%;
                background-position: left;
                background-repeat: no-repeat;
            }
            &::after{
                background: url('/app/assets/Design\ 2_\ Eclair\ White_Count\ Down\ Right.png');
                background-size: auto 100%;
                background-position: right;
                background-repeat: no-repeat;
            }
        }

        .video-content{
            position: relative;
            iframe{
                height: 25vh !important;
                width: 75vw !important;
            }
        }
    }
}