#section-5{
    height: auto;
    .love-story{
        z-index: 4;
        @extend .c-jc-sa;
        flex-wrap: nowrap;
        padding: 40px 0px;
        &-container{
            width: 100%;
        }

        &-title{
            text-align: center;
            font-size: $font-l;
            letter-spacing: 10px;
            margin-bottom: 20px;
        }

        &-slide{
            width: 60%;
            margin: auto;

            .story{
                border: dashed $mainColor_2 ;
                border-width: 3px;
                background: white;
                text-align: center;
                margin: 20px;
                &-img{
                    width: 100%;
                    max-height: 60%;
                    
                    img{
                        max-width: 100%;
                        height: 100%;
                        margin: auto;
                    }
                }

                &-card{
                    @extend .container-app;
                    @extend .c-jc-sa;
                    height: 75vh;
                    margin: 0px 50px;
                    
                    .head{
                        font-size: $font-m;
                        p{
                            margin: 0px;
                        }
                    }

                    .body{
                        font-size: $font-s;
                        text-align: justify;
                    }
                }
            }

            .slick-dots{
                display: flex;
                justify-content: center;
                margin: 0;
                bottom: -40px;
                padding: 1rem 0;
                
                list-style-type: none;
                
                li {
                    margin: 0 0.25rem;
                }

                button{
                    display: block;
                    border: none;
                    border-radius: 100%;
                    background-color: $mainColor_2;
                    height: $font-xs;
                    width: $font-xs;

                    &::before{
                        opacity: 0;;
                    }
                }

                li.slick-active button {
                    background-color: $mainColor_1;

                    &::before{
                        opacity: 0;;
                    }
                }
            }
            
        }
        
    }
}

#section-6{
    height: initial;
    .event{
        margin-top: 40px;
        flex-direction: row;
        @extend .c-jc-c;
        align-content: space-around;
        background-color: $mainColor_1;
        border-radius: 50rem  50rem 0 0;
        
        >div{
            margin: 40px;
        }

        .title-event{
            width: 100%;
            color: white;
            font-size: $font-ms;
            img:first-child{
                height: 10vh;
                margin-bottom: 40px;
            }

            p{
                width: 60%;
                margin: auto;
                img{
                    height: 100%;
                    margin-top: 40px;
                    width: 80%;
                }
            }
        }

        &-card{
            @extend .container-app;
            @extend .c-jc-se;
            width: 30%;
            margin-top: 0px !important;
        }

        &-body{
            font-size: $font-ms;
            background-color: white;
            padding: 30px;
            box-shadow: $boxShadow;

            img{
                height: 70px;
                margin-bottom: 10px;
            }

            .event{

                &-title{
                    @extend .font-photo;
                    letter-spacing: 10px;
                    font-size: $font-l;
                }

                &-time{
                    p{
                        font-weight: bold;
                        margin: 0px;
                    }
                }
                
                &-place{
                    margin-top: 40px;
                    font-size: $font-s;
                }
            }
        }

        &-footer{
            font-size: calc(#{$font-m} - 0.4rem);
            font-weight: bold;
            margin-top: 20px;
            background-color: $mainColor_2;
            align-self: flex-end;
            height: 40px;
            width: 50%;
            box-shadow: $boxShadow;

            a{
                @extend .container-app;
                @extend .c-jc-sa;
                align-content: space-around;
                color: white;
                text-decoration: none;
                margin-right: 20px;
            }

            img{
                width: 30px;
                height: 30px;
            }
        }
    }
}

@include breakpoint-down(large){
    #section-5{
        .love-story{
            &-slide{
                width: 95%;

                .story{

                    &-img{
                        max-height: 35%;
                        height: auto;
                        min-width: 100%;
                        img{
                        }
                    }

                    &-card{
                        margin: 0px 20px;
                        // justify-content: center;
                        height: 80vh;

                        .head{
                            font-size: $font-ms;
                        }
                        .body{
                            font-size: $font-xs;
                        }
                    }
                }

                .slick-dots{
                    button{
                        height: 0.5rem;
                        width: 0.5rem;
                    }
                }

            }
        }
    }

    #section-6{
        .event{

            >div{
                margin: 10px ;
            }

            .title-event{
                font-size: $font-xs;
                img:first-child{
                    height: 7vh;
                    margin-bottom: 20px;
                }

                p{
                    width: 80%;

                    img{
                        margin-top: 20px;
                        width: 90%;
                    }
                }

            }

            &-card{
                width: 85%;
            }

            &-body{
                font-size: $font-s;
                img{
                    height: 50px;
                }

                .event{
                    &-title{
                        margin-bottom: 0.5rem;
                        font-size: $font-m;
                    }
                    
                    &-time{
                        p:last-child{
                            font-weight: normal;
                        }
                    }

                    &-place{
                        margin-top: 20px;
                        font-size: $font-xs;
                    }
                }
                
            }
            
            &-footer{
                font-size: $font-ms;

                img{
                    width: 25px;
                    height: 25px;
                }
            }


        }
    }
}