#section-7{
    height: auto;
    .rsvp{
        padding-top: 0px !important;
    }
    .count-down{
        position: relative;
        font-size: $font-m;
        color: $mainColor_2;
        margin: 25px;
        padding: 30px 0px;
        width: calc(100% - 50px);
        &::before{
            content: " ";
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            position: absolute;
            background: url('/app/assets/Design\ 2_\ Eclair\ White_Count\ Down_Top.png');
            background-size: 100%;
            background-position: top center;
            background-repeat: no-repeat;
        }

        &::after{
            @extend .count-down::before;
            background: url('/app/assets/Design\ 2_\ Eclair\ White_Count\ Down_Bottom.png');
            background-position: bottom center;
            background-size: 100%;
            background-repeat: no-repeat;
        }

        .time{
            width: 50%;
            margin: auto;
        }

        .counter-time{
            font-size: $font-xl;
            font-weight: bold;

            &::after{
                content: ':';
                position: relative;
                right: -25%;
            }
            &-last{
                font-size: $font-xl;
                font-weight: bold;

            }

        }
        
    }

    .guest-book{
        color: white;
        background-color: $mainColor_2;
        .form{
            &-rsvp{

                width: 70%;
                margin: 30px auto;
            }
        }
    }

}

#section-8{
    .gallery{
        @extend .c-jc-se;
        margin: 0px auto ;
        width: 90%;
        &-item{
            height: inherit;
            width: 38%;
            padding: 5px 0px;
            flex-grow: 10;

            .slide-gallery,
            .slick-list{
                height: 100%;
                background-color: $mainColor_3;
                
                .slick-track{
                    height: 100%;
                }
            }

            .slick-slide {
                height: 100%;
                img{
                    position: relative;
                    // top: 0px;
                    // right: 50%;
                    // transform: translateX(25%);
                    left: 50%;
                    transform: translateX(-50%);
                    max-height: 100%;
                    min-width: 100%;
                    object-fit: cover;
                }
            }

            &.potrait,
            &.landscape{
                width: 30%;
                overflow-x: hidden;
            }
    

            &.potrait{
                height: 70% ;
                }
            &.landscape{
                height: 30% ;
            }
        }

    }

}

@include breakpoint-down(large){
    #section-7{
        .rsvp{
            padding-bottom: 0px;
        }
        .count-down{
            font-size: $font-s;
            padding: 20px 0px;
            font-weight: bold;
            .time{
                width: 80%;
                .row .col-3 p:last-child{
                    color: $mainColor_3;
                    font-size: $font-xs;
                }
            }

            .counter-time{
                font-size: $font-l;

                

                &-last{
                    font-size: $font-l;
                }
            }

            &::before{
                background: url('/app/assets/Design\ 2_\ Eclair\ White_Count\ Down\ Lef.png');
                background-size: auto 100%;
                background-position: left;
                background-repeat: no-repeat;
            }
            &::after{
                background: url('/app/assets/Design\ 2_\ Eclair\ White_Count\ Down\ Right.png');
                background-size: auto 100%;
                background-position: right;
                background-repeat: no-repeat;
            }


        }

    }

    #section-8{
        height: auto;
        .gallery{
            width: 90%;
            &-item{
                height: 70vh;
                width: 100%;
                padding: 10px 0px;

                &.landscape{
                    height: 30vh;
                    width: 100%;
                }

                &.potrait,
                &.desktop-gallery{
                    display: none;
                }
            }
        }
    }
}