@font-face {
    font-family: 'Minions';
    src: url("/app/assets/fonts/Minion\ Variable\ Concept.otf");
}

@font-face {
    font-family: 'Grayscale';
    src: url("/app/assets/fonts/Grayscale\ Signature.ttf");
}

$mainColor_1 : #8D8878;
$mainColor_2 : #463B30;
$mainColor_3 : #C6C7C3;

$font-xs :1rem;
$font-s :1.2rem;
$font-ms :1.5rem;
$font-m :2.3rem;
$font-l :3rem;
$font-xl :5rem;

$boxShadow :5px 5px 10px 2px rgba(0, 0, 0, 0.3);
    
    
    
    
    