<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wedding Story</title>

    <link rel="stylesheet" href="/dist/css/style.css">
    <link rel="stylesheet" href="/dist/css/aos.css">
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dist/css/slick.css">
    <link rel="stylesheet" href="/dist/css/slick-theme.css">


    <meta property="og:title" content="Raymond &amp; Ofi"/> 
    <meta property="og:description" content="Hi! You are Invited to Wedding of &#13; Raymond &amp; Ofi"/>
    <meta property="og:image" content="/app/assets/Data Photo/Thumbnail.jpg"/> 
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="600" />
    
    <meta name="twitter:card" content='summary_large_image' />
    <meta name="twitter:title" content='Raymond &#038; Ofi' />
    <meta name="twitter:description" content="Hi! You are Invited to Wedding of Raymond &#038; Ofi" />
    <meta name="description" content="Hi! You are Invited to Wedding of Raymond &#038; Ofi">
    <meta name="twitter:image" content="/app/assets/Data Photo/Thumbnail.jpg" />
    <meta name="msapplication-TileImage" content="/app/assets/Data Photo/Thumbnail.jpg" />

    <meta name="csrf-token" content="{{ csrf_token() }}" />


    <!-- Styles -->
    <style>
    </style>


</head>

<body>
    <section id="leaf-fall-bg">
        <div class="leaf-container">
            <div class="animate-fall-leaves"><img alt=""></div>
            <div class="animate-fall-leaves"><img alt=""></div>
            <div class="animate-fall-leaves"><img alt=""></div>
            <div class="animate-fall-leaves"><img alt=""></div>
            <div class="animate-fall-leaves"><img alt=""></div>
            <div class="animate-fall-leaves"><img alt=""></div>
            <div class="animate-fall-leaves"><img alt=""></div>
            <div class="animate-fall-leaves"><img alt=""></div>
            <div class="animate-fall-leaves"><img alt=""></div>
            <div class="animate-fall-leaves"><img alt=""></div>
        </div>
    </section>

    <section class="landing-page" > 
        <div class="container-app landing">
            <div class="landing-item">
                <img src="/app/assets/Design 2_ Eclair White_Lengkung.png" alt="">
               
                <div class="initial">
                    <p>O</p>
                    <span></span>
                    <p>R</p>
                </div>

            </div>
            <div class="landing-space"></div>
            <div class="landing-space"></div>
            <div class="landing-item">
                <p>Dear <u>{{$undangan}},</u></p>
                <a class="openInvite">
                    <p>Open Invitation</p>
                </a>
            </div>
        </div>
    </section>

    <audio id="musicWish">
        <source src="/app/assets/music/Westlife - I Wanna Grow Old with You (Official Audio).mp3" type="audio/mpeg">
    </audio>

    <a id="stop" class="fixedButton ">
        <img src="/app/assets/Design 2_ Eclair White_Music On.png" class="musicBtn">
    </a>
    <a id="play" class="fixedButton d-none">
        <img src="/app/assets/Design 2_ Eclair White_Music off.png" class="musicBtn">
    </a>

    <section id="section-2" class="front-page ">
        <div class="container-app front">
            <div class="front-item front-img">
            </div>
            <div class="front-item">
                <p class="top"> WE ARE GETTING MARRIED</p>
                <span class="married-name">
                    <p>OFI</p>
                    <span class="font-photo">and</span>
                    <p>RAYMOND</p>
                </span>
                <span class="date">27 Mei 2021</span>

                <a class="save-date" target="_blank"
                    href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MnBuOHA2Zm1pN2tuMjdidWhmM3B2OGVrcWggbWFrZXdpc2hsaXN0QG0&tmsrc=makewishlist%40gmail.com">
                    <p>SAVE THE DATE</p>
                </a>
            </div>
        </div>
    </section>

    <section id="section-3">
        <div class="container-app quotes">
            <div class="quotes-item ">
                <img src="/app/assets/Design 2_ Eclair White_Dec 3.png" alt="">
                <div class="content">
                    <p class=""><strong>Ar-Rum : 21</strong></p>
                    <p class="">“Dan di antara tanda-tanda (kebesaran)-Nya ialah Dia menciptakan pasangan-pasangan untukmu dari jenismu sendiri, agar kamu cenderung dan merasa tenteram kepadanya, dan Dia menjadikan di antaramu rasa kasih dan sayang. Sungguh, pada yang demikian itu benar-benar terdapat tanda-tanda (kebesaran Allah) bagi kaum yang berpikir.”</p>
                </div>
            </div>
        </div>
    </section>

    <section id="section-4">
        <div class="container-app profile">
            <div class="profile-card" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                <p class="profile-title ">The Bride</p>
                <img class="profile-img" src="/app/assets/Data Photo/TheBride.jpg" alt="">
                <div class="profile-detail">
                    <a target="__blank" href="https://www.instagram.com/rofifakhairii/">
                        <img class="logo-ig" src="/app/assets/Design 2_ Eclair White_IG.png" alt="">
                    </a>
                    <span>
                        <p>Rofifa Khairi, S.Gz</p>
                        <p>Putri ke-1 dari Bapak H. Khairul Huda & Ibu Hj. Elfirina Amir  </p>
                    </span>
                </div>
            </div>
            <div class="profile-heart" data-aos="zoom-in">
                <img class="animate-scaleInOut" src="/app/assets/Design 2_ Eclair White_Double love.png" alt="">
            </div>
            <div class="profile-card " data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                <p class="profile-title ">The Groom</p>
                <img class="profile-img" src="/app/assets/Data Photo/TheGroom.jpg" alt="">
                <div class="profile-detail">
                    <a target="__blank" href="https://www.instagram.com/itsray30/">
                        <img class="logo-ig" src="/app/assets/Design 2_ Eclair White_IG.png" alt="">
                    </a>
                    <span>
                        <p>Raymond Agustio Herman</p>
                        <p>Putra ke-3 dari Bapak AKBP H. Herman, S.H & Ibu Hj. Nany Samsuarti, S.Pd</p>
                    </span>
                </div>

            </div>
        </div>
    </section>

    <section id="section-5" data-aos="zoom-in">
        <div class="container-app love-story">

            <h1 class="love-story-title font-photo">Love Story</h1>
            <div class="love-story-container">
                <div class="love-story-slide">
                    <div class="story">
                        <div class="story-card">

                            <div class="head">
                                <p>“Tempat ini, tempat pertama kami bertemu”</p>
                            </div>
                            <div class="body">
                                <p>
                                    Sebuah bangunan yang tadinya menjadi tempat menuntut ilmu, ternyata juga menjadi tempat cerita kisah klasik di sekolah tahun 2010. Selama delapan bulan, kasih manis yang kami rajut bersama ternyata harus berakhir karena ego sepasang anak remaja. 
                                </p>
                            </div>
                            <div class="story-img" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                                data-aos-duration="2000">
                                <img src="/app/assets/Data Photo/Story-1.jpeg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="story">
                        <div class="story-card">

                            <div class="head">
                                <p>"Satu frame di depan Ka'bah tahun 2013"</p>
                            </div>
                            <div class="body">
                                <p>
                                    Kakak pertama raymond mengganti display picture BBM foto kedua orangtuanya di depan ka'bah dan ternyata dibelakang orangtuanya ada orangtua ofi. Mungkin ini sebagian rencana dari-Nya, bagaimana bisa diantara banyaknya manusia yang melaksanakan ibadah, orang tua kami berangkat bersama-sama dan satu frame di depan ka'bah tanpa disengaja. 12 Desember 2014, sepasang anak remaja berproses menjadi dewasa memutuskan untuk tetap memilih bersama dari sekian banyak manusia.
                                </p>
                            </div>
                            <div class="story-img" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                                data-aos-duration="2000">
                                <img src="/app/assets/Data Photo/Story-2.jpeg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="story">
                        <div class="story-card">
                            <div class="head">
                                <p>"Long Distance Relationship"</p>
                            </div>
                            <div class="body">
                                <p>
                                    Menempuh pendidikan kuliah dan tuntutan pekerjaan membuat kami harus terlibat di dalamnya. 924 km jarak yang ditempuh untuk menahan rindu. 
                                    "Jaga dirimu baik-baik, aku pasti akan menemuimu, tunggu aku" menjadi kalimat penenang disetiap perpisahan. Bandara selalu menjadi tempat dimana senyum dan tangis terasa menjadi satu.
                                </p>
                            </div>
                            <div class="story-img" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                                data-aos-duration="2000">
                                <img src="/app/assets/Data Photo/Story-3.jpeg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="story">
                        <div class="story-card">

                            <div class="head">
                               "We did it!"
                            </div>
                            <div class="body">
                                <p>
                                   Melewati 924 km selama lima tahun dan sekarang enam tahun telah berlalu, kami selalu  melewati momen bersama hingga akhirnya Raymond datang kerumah dan membawa keluarga besarnya untuk meminang Ofi. Pada hari itu gugup, haru dan senang bercampur aduk, dipinang oleh lelaki yang selama ini selalu ada disampingnya. 
                                </p>
                            </div>
                            <div class="story-img" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                                data-aos-duration="2000">
                                <img src="/app/assets/Data Photo/Story-4.jpeg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="story">
                        <div class="story-card">

                            <div class="head">
                                "Now We're Here"
                            </div>
                            <div class="body">
                                <p>
                                    Kini perjalanan cinta pertama akan berakhir menjadi cinta terakhir.
"ibarat burung merpati; sejauh manapun merpati terbang, dia tau kemana harus pulang."
                                </p>
                            </div>
                            <div class="story-img" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                                data-aos-duration="2000">
                                <img src="/app/assets/Data Photo/Story-5.jpeg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section id="section-6">
        <div class="container-app event ">
            <div class="title-event">
                <img src="/app/assets/Design 2_ Eclair White_Dec 4.png" alt="">
                <p>
                    بِسْمِ اللّهِ الرَّحْمَنِ الرَّحِيْ <br>
                    Maha Suci Allah yang telah menciptakan makhluk-Nya berpasang-pasangan. Ya Allah, perkenalkan dan ridhoilah putra-putri kami dalam ikatan suci pernikahan:
                    <br><img src="/app/assets/Design 2_ Eclair White_Line.png" alt="">
                </p>
            </div>
            <div class="event-card ">
                <div class="event-body" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                    <img class="event-img" src="/app/assets/Design 2_ Eclair White_Rings.png">
                    <p class="event-title">Akad</p>
                    <span class="event-time">
                        <p>FRIDAY</p>
                        <p>13 AUGUST 2021 | 16.00 - End WIB</p>
                    </span>
                    <p class="event-place">
                        Masjid Al-Muhajirin 
                        <br>
                        RT 19 Villa Kenali Permai, Kecamatan Alam Barajo, Kota Jambi     
                    </p>
                </div>
                <div class="event-footer" data-aos="zoom-in">
                    <a href="https://goo.gl/maps/4ydmy7xxD5ZgoZVC9" target="__blank">
                        <img src="/app/assets/Design 2_ Eclair White_Button Loc.png" alt="">
                        Location
                    </a>
                </div>
            </div>
            <div class="event-card ">
                <div class="event-body" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                    <img class="event-img" src="/app/assets/Design 2_ Eclair White_Gapura.png">
                    <p class="event-title">Resepsi</p>
                    <span class="event-time">
                        <p>SUNDAY</p>
                        <p>15 AUGUST 2021 | 10.0 - End WIB</p>
                    </span>
                    <p class="event-place">
                        Bumi Pasundan Convention Centre (BPCC)  
                        <br> 
                        Jl. Yulius Usman, Pematang Sulur, Kec. Telanaipura, Kota Jambi, Jambi 36361 
                    </p>
                </div>
                <div class="event-footer" data-aos="zoom-in">
                    <a href="https://goo.gl/maps/qoNNkbrPCyWiJrn97" target="__blank">
                        <img src="/app/assets/Design 2_ Eclair White_Button Loc.png" alt="">
                        Location
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="section-7">
        <div class="container-app rsvp">
            <div class="count-down">
                <p>MENUJU HARI PERNIKAHAN</p>
                <div class="time" id="dDays"></div>
            </div>
            <div class="guest-book">

                <div class="form-rsvp" data-aos="zoom-in">
                    <b class="form-title">GUEST BOOK</b>
                    <p class="form-subtitle">Kami tidak sabar menunggu hari pernikahan kami bersama kalian,
                        mohon konfirmasi <br>kehadiran kalian. Terima kasih</p>
                    <form>
                        <input type="text" class="form-name" id="name" name="name" placeholder="Nama">
                        <input type="text" class="form-address" id="address" name="address" placeholder="Alamat">
                        <div class="form-grup">
                            <div class="btn-group" style="width: 60%;">
                                <select class="form-select" aria-label="Apakah hadir?">
                                    <option selected disabled>Apakah hadir?</option>
                                    <option value="1">Iya, Saya hadir</option>
                                    <option value="2">Maaf, Belum bisa hadir</option>
                                </select>
                            </div>
                            <div class="btn-group" style="width: 38.5%;">
                                <select class="form-select" aria-label="Jumlah/org">
                                    <option selected disabled>Jumlah/org</option>
                                    <option value="1">1 Orang</option>
                                    <option value="2">2 Orang</option>
                                    <option value="3">3 Orang</option>
                                    <option value="4">4 Orang</option>
                                </select>
                            </div>
                            <button class="button-submit"><strong>Submit</strong></button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>

    <section id="section-8">
        <div class="container-app gallery">
            <div class="gallery-item">
                <div class="slide-gallery">
                    <div>
                        <img src="/app/assets/Galery Photo/Potrait 1.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Potrait 2.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Potrait 3.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Potrait 4.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Potrait 5.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Potrait 6.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Potrait 7.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Potrait 8.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Potrait 9.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Potrait 10.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Potrait 11.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Potrait 12.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="gallery-item potrait">
                <div class="slide-gallery">
                    <div>
                        <img src="/app/assets/Galery Photo/Potrait 5.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Potrait 6.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Potrait 7.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Potrait 8.jpg" alt="">
                    </div>
                   
                </div>
            </div>
            <div class="gallery-item landscape">
                <div class="slide-gallery">
                    <div>
                        <img src="/app/assets/Galery Photo/Landscape 4.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Landscape 2.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Landscape 1.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Landscape 3.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="gallery-item landscape desktop-gallery">
                <div class="slide-gallery">
                    <div>
                        <img src="/app/assets/Galery Photo/Landscape 1.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Landscape 2.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Landscape 3.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Landscape 4.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="gallery-item potrait">
                <div class="slide-gallery">
                    <div>
                        <img src="/app/assets/Galery Photo/Potrait 9.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Potrait 10.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Potrait 11.jpg" alt="">
                    </div>
                    <div>
                        <img src="/app/assets/Galery Photo/Potrait 12.jpg" alt="">
                    </div>
                </div>
            </div>
           
        </div>
    </section>

    <section id = "section-video">
        <div class="container-app wedding-video">
            <div class="video">
                <div class="video-content">
                    <iframe src="https://www.youtube.com/embed/zRRjkT5mOBQ?autoplay=1"> </iframe>
                </div>
            </div>
        </div>
    </section>

    <section id="section-9">
        <div class="container-app">
            <div class="wishes">
                <b class="form-title" data-aos="zoom-in">WEDDING WISHES</b>
                <p class="form-subtitle" data-aos="zoom-in"><i>Tulis Do'a untuk kami ...</i></p>
                <div class="wishes-card">
                    <form class="mx-2">
                        <input type="text2" id="name" name="name" placeholder="Nama">
                        <textarea name="message" placeholder="Pesan/Do'a" height="200px"></textarea>
                        <button class="button-submit"><strong>Submit</strong></button>
                    </form>
                    <div class="wishlist">
                        <div class="f">
                            <h6 class=""><strong>Rafi - Jakarta</strong></h6>
                            <h6 class=""> Selamat, semoga TUhan memberkati kalian</h6>
                        </div>
                        <!-- @foreach($wishers as $p)
                            <div class="f">
                                <h6 class=""><strong>{{ $p->name }} - {{ $p->from }}</strong></h6>
                                <h6 class=""> {{ $p->message }}</h6>
                            </div>
                        @endforeach -->

                    </div>
                </div>
                <span class="send-gift" data-aos="zoom-in">
                    <p>WEDDING WALLET</p>
                    <img src="/app/assets/kado.svg" alt="">
                </span>
                <div class="married-name">
                    <p>OFI</p>
                    <span class="font-photo">and</span>
                    <p>RAYMOND</p>
                </div>
            </div>
        </div>
    </section>

    <section id="section-10">
        <div class="container-app">
            <div class="footer">
                <div class="footer-btn">
                    <span>
                        <a href="https://instagram.com/makewishlist?igshid=7h9caco53xh2" target="__blank">
                            <img class="img-logo " src="/app/assets/Design 2_ Eclair White_IG MW.png" alt="">
                        </a>
                    </span>
                    <span>
                        <a target="https://makewishlist.com">
                            <img class="img-logo " src="/app/assets/website.svg" alt="">
                        </a>
                    </span>
                </div>
                <img src="/app/assets/Design 2_ Eclair White_Logo MW.png" alt="">
            </div>
        </div>
    </section>

    <!-- Gallery Modal -->
    <div id="imgModal" class="modal-img">
        <div class="modal-container">
            <span class="close">&times;</span>
            <img class="modal-content">
        </div>
    </div>

    <div id="covid-dis" class="modal-img">
        <div class="modal-container">
            <div class="prokes">
                <img class="modal-content" src="/app/assets/Design 2_ Eclair White_Prokes.png">
                <a class="prokes-btn">
                    <img src="/app/assets/Design 2_ Eclair White_Yes I Will .png">
                </a>
            </div>
        </div>
    </div>

    <div id="giftModal" class="modal-img">
        <div class="modal-container">
            <span class="close">&times;</span>

            <div class="address-gift">
                <b class="form-title" data-aos="zoom-in">Thank You ...</b>
                <p class="form-subtitle" data-aos="zoom-in"><i>Kami berterima kasih atas perhatian dan tanda kasih dari Bapak/Ibu/Saudara/i untuk kami. Bilamana ingin mengirim hadiah silahkan kirimkan ke alamat berikut :</i></p>
                <p class="form-subtitle" data-aos="zoom-in">
                    <a href="https://goo.gl/maps/6xeFL7gYkTcNhe1D7" style="color: white;">
                        <u>
                            <i>Perumahan Villa Kenali Permai blok L1 no 19, kelurahan mayang mangurai, Kecamatan alam barajo, Jambi 36126</i>
                        </u>
                    </a>
                </p>
            </div>
        </div>
    </div>


    
    <script src="/app/js/vendor/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="/app/js/vendor/counter-time.js"></script>
    <script src="/app/js/vendor/modalimage.js"></script>
    <script src="/app/js/vendor/slick.min.js"></script>
    <script src="/app/js/script.js"></script>

    <script>
        AOS.init({
            duration: "3000"
        });

        $('.love-story-slide').slick({
            Infinite: true,
            autoplay: true,
            slidesToScroll: 1,
            dots: true,
            arrows:false

        });

        $('.slide-gallery').each(function(min) {
            var randomSpeed = 1000 * Math.floor(2+(Math.random() * 3));  // code to calculate random speed here
            $(this).slick({
                infinite: true,
                autoplay: true,
                speed: 1000,
                autoplaySpeed: randomSpeed,
                fade: true,
                cssEase: 'linear',
                arrows:false,
                responsive: [{
                    breakpoint: 1024,
                    settings: {
                        fade:false,
                        autoplaySpeed: 2000
                    }
                    }
                ]
            });
        });

        $('.animate-fall-leaves img').each(
            function(min){
                var randomize = Math.floor(Math.random() * 4) + 1;
                var src = "/app/assets/Design 2_ Eclair White_daun jatoh "+randomize+".png";
                $(this).attr("src",src);
                randomize = (Math.random() * 6);
                $(this).css("animation-delay", randomize+"s");
            }
        )


        $('.love-story-slide').on('afterChange', function (event, {
            slideCount: count
        }, currentSlide, nextSlide) {
            let selectors = [nextSlide, nextSlide - count, nextSlide + count].map(n =>
                `[data-slick-index="${n}"]`).join(', ');
            $('.slick-now').removeClass('aos-animate');
            $(selectors).find(".aos-init").addClass('aos-animate');
        });

        
        $(".slick-slide img").on("click",function(){
            $("#imgModal").show();
            var src = $(this).attr('src');
            $("#imgModal img").attr("src",src);
        })

        $(".close").on("click",function(){
            $(".modal-img").hide();
        })

        $(".send-gift").on("click",function(){
            $("#giftModal").show();
        })
        
    </script>

    <script>
    $(".save-rsvp").click(function(event){
        event.preventDefault();

        let name = $("input[name=name]").val();
        let address = $("input[name=address]").val();
        let hadir = $("select[name=hadir]").val();
        let total = $("select[name=total]").val();
        let _token   = $('meta[name="csrf-token"]').attr('content');

        $.ajax({
        url: "/wishes/rsvpstore",
        type:"POST",
        data:{
            name:name,
            address:address,
            hadir:hadir,
            total:total,
            _token: _token
        },
        success:function(response){
            console.log(response);
            if(response) {
            $('.success').text(response.success);
            alert(response.success);
            $("#rsvpform")[0].reset();
            }
        },
        });
    });
    </script>

    <script>
    $(".save-wish").click(function(event){
        event.preventDefault();

        let name = $("input[name=name1]").val();
        let from = $("input[name=from]").val();
        let message = $("textarea[name=message]").val();
        let _token   = $('meta[name="csrf-token"]').attr('content');

        $.ajax({
        url: "/wishes/store",
        type:"POST",
        data:{
            name:name,
            from:from,
            message:message,
            _token: _token
        },
        success:function(response){
            console.log(response);
            if(response) {
            $('.success').text(response.success);
            alert(response.success);
            $("#wishform")[0].reset();
            }
        },
        });
    });
    </script>
</body>

</html>